@import "../../../style/var";
@import "../../../style/responsive";
.sidebar {
  @include Responsive(sm) {
    .sidebarToggle {
      height: 0;
      overflow: hidden;
      transition: all 0.5s;
    }

    label {
      cursor: pointer;
    }

    #toggle {
      &:checked {
        + .sidebarToggle {
          height: auto;
        }
      }
    }
  }
  &_title {
    border-bottom: 1px solid $lightDark;
    padding-bottom: 0.5rem;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 100%;
      background-color: black;
      height: 2px;
      width: 70px;
    }
  }
}
