@import "../../style/var";

.cart-page {
  .infor-order {
    box-sizing: border-box;
    padding-top: 1rem;
    width: 100%;
    border: 1px solid $lightDark;
    height: 300px;
  }

  .infor-cart {
    text-align: center;
    max-height: 500px;
    overflow-y: scroll;

    tr {
      height: 70px;

      img {
        height: 70px;
        width: 80px;
      }

      .fa-times {
        cursor: pointer;
      }
    }
  }

  .payment {
    background-color: lightsalmon;
    color: white;
    transition: all 0.5s;
    border: 1px solid white;
    padding: 0.3rem 1.5rem;
    border-radius: 7px;
    outline: none;

    &:hover {
      border-color: lightsalmon;
      background: white;
      color: lightsalmon;
    }

    &:disabled {
      border-color: black;
      background: white;
      color: black;
    }
  }
}
