$lightDark: #a4a2b7;
$lightDarkBg: #18181ab7;
$lightBg: rgba(255, 255, 255, 0.74);
$pinkColor: #f2644f;
$lightDark: #a4a2b7;
$lightdarkbg: rgba(0, 0, 0, 0.288);
$lightBgTrans: rgba(24, 20, 20, 0.062);
$star: #f2b03d;
$darkBg: #343a40;
$bgActive: #007bff;
$bg-gray: #f4f6f9;
